[submodule "libraries/joomla-platform"]
	path = libraries/joomla-platform
	url = git://github.com/joomla/joomla-platform.git
[submodule "libraries/ebay-content"]
	path = libraries/ebay-content
	url = git://github.com/eBaySF/joomla-platform.git
